@import url('https://fonts.googleapis.com/css?family=Kalam:300,400,700&display=swap');

body {
  margin: 0;
  font-family: 'Kalam', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
